<div class="col-xs-12 tile">
    <h4 class="text-uppercase text-muted">Today's Matches</h4>
    <div>
        <div *ngFor="let match of matches" class="col-xs-12 col-md-6 match-info">
            <p>
                <b class="text-uppercase">
                    {{match.team1}}
                </b> 
                vs
                <b class="text-uppercase">
                    {{match.team2}}
                </b>
            </p>
            <p class="success-text">
                <span>
                    Winner: {{match.winner}} by 
                </span>
                <span *ngIf="checkValidity(match.win_by_runs)">
                    {{match.win_by_runs}} runs
                </span>
                <span *ngIf="checkValidity(match.win_by_wickets)">
                    {{match.win_by_wickets}} wickets
                </span>
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
    <small class="text-muted">Note: Assuming today's date is {{date}}.</small>
</div>