<div class="row">
    <div class="col-xs-12">
        <app-todays-match [matches]="todaysMatches" [date]="todaysDate"></app-todays-match>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="tile">
            <app-pie-chart [pieChartData]=pieChartData></app-pie-chart>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="tile">
            <app-run-rate [runRateData]=runRateData></app-run-rate>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-season-matches [matches]="seasonMatches"></app-season-matches>
    </div>
</div>