<div class="row">
    <div class="col-xs-12">
        <app-todays-match [matches]="todaysMatches" [date]="todaysDate"></app-todays-match>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="tile">
            <h4 class="text-uppercase text-muted">Winners of the Season</h4>
            <app-pie-chart [pieChartData]=pieChartData></app-pie-chart>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="tile">
            <div *ngIf="todaysMatches">
                <h4 class="text-uppercase text-muted text-sm">Run Rate</h4>
                <p>{{todaysMatches[0].team1}} vs {{todaysMatches[0].team2}} on {{todaysMatches[0].date}}</p>
                <app-run-rate [runRateData]=runRateData></app-run-rate>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-season-matches [matches]="seasonMatches"></app-season-matches>
    </div>
</div>